<div class="container">
    <nav class="sidebar">
        <ul>
            <li><a routerLink="/profil">Mon Profil</a></li>
            <li><a routerLink="/candidatures">Mes Candidatures</a></li>
            <li><a routerLink="/messagescand" routerLinkActive="active"> Gérer Messages</a></li>
        </ul>
    </nav>
    <main class="content">
        <h2>Mes Messages</h2>
        <div class="message-box">
                   <div class="message">
                  <p><strong>Recruteur A:</strong> Bonjour, nous avons examiné votre candidature.</p>
                  <textarea placeholder="Répondre..."></textarea>
                  <button class="btn send">Envoyer</button>
                </div>

                  <div class="message">
                  <p><strong>Recruteur B:</strong> Merci pour votre candidature, nous reviendrons vers vous.</p>
                  <textarea placeholder="Répondre..."></textarea>
                  <button class="btn send">Envoyer</button>
                </div>
                <div class="message">
            <p><strong>Recruteur :</strong> Bonjour Jean, nous avons bien reçu votre candidature.</p>
            <textarea placeholder="Répondre..."></textarea>
            <button class="btn send">Envoyer</button>
            </div>
        </div>
    </main> 
</div>