<div class="container">
    <nav class="sidebar">
        <ul>
            <li><a routerLink="/profil">Mon Profil</a></li>
            <li><a routerLink="/candidatures">Mes Candidatures</a></li>
            <li><a routerLink="/messagescand" routerLinkActive="active"> Gérer Messages</a></li>
        </ul>
    </nav>
    <h2>📨 Mes messages</h2>

<div *ngIf="messages.length > 0; else aucunMessage">
  <div *ngFor="let msg of messages" class="message-card">
    <p><strong>De :</strong> {{ msg.prenomRec }} {{ msg.nomRec }} ({{ msg.entreprise }})</p>
    <p><strong>Contenu :</strong> {{ msg.contenu }}</p>
    <p><em>Date :</em> {{ msg.date | date:'short' }}</p>
    <hr>
  </div>
</div>

<ng-template #aucunMessage>
  <p>Vous n'avez reçu aucun message.</p>
</ng-template>
</div>