<!-- Barre de navigation 
<header>
    <div class="logo">Recrutement Intelligente</div>
    <nav>
        <ul>
            <li><a routerLink="/">Accueil</a></li>
            <li class="dropdown">
                <a routerLink="/offres">Offres d'emploi</a>
                <ul class="dropdown-menu">
                    <li><a routerLink="/consulter-offres">Consulter toutes les offres</a></li>
                    <li><a routerLink="/votre-offre">Consulter votre offre</a></li>
                    <li><a routerLink="/ajouter-offre">Ajouter une offre</a></li>
                </ul>
            </li>
            <li><a routerLink="/entreprises">Espace Recruteur</a></li>
            <li><a routerLink="/candidat">Espace Candidat</a></li>
            <li><a routerLink="/se-connecter" class="btn">Se connecter</a></li>
        </ul>
    </nav>
</header>

<router-outlet></router-outlet>
-->
<app-main-header *ngIf="currentRoute === '/' || currentRoute === '/home'"></app-main-header>
<app-candidat-header *ngIf="currentRoute === '/candidat'"></app-candidat-header>
<app-recruteur-header *ngIf="currentRoute === '/entreprises'"></app-recruteur-header>


<app-offres-header *ngIf="currentRoute === '/offres'"></app-offres-header>
<app-seconnecter-header *ngIf="currentRoute === '/se-connecter'"></app-seconnecter-header>
<app-inscription-header *ngIf="['/inscription', '/inscri-rec', '/inscri-candidat'].includes(currentRoute)"></app-inscription-header>

<app-general-header *ngIf="currentRoute.startsWith('/modifier-profil-admin') 
 ||currentRoute.startsWith('/admin-offre')
 ||currentRoute.startsWith('/voir-recruteur') 
 ||currentRoute.startsWith('/voir-candidat') 
 ||currentRoute.startsWith('/voir-plus') 
 ||currentRoute.startsWith('/moderer-offre') 
 ||currentRoute.startsWith('/profil') 
||currentRoute.startsWith('/contacter-candidat') 
||currentRoute.startsWith('/modifier-profil-rec') 
||currentRoute.startsWith('/modifier-offre') 



||currentRoute.startsWith('/profil-recruteur')"></app-general-header>
<app-general-header *ngIf="currentRoute === '/recherche-offre' ||currentRoute === '/les-candidatures' ||currentRoute === '/recherche-candidats' ||currentRoute === '/messagescand' ||currentRoute === '/candidatures' ||currentRoute === '/modifier-profil' ||currentRoute === '/modifier-offre' || currentRoute === '/modifier-profil-rec'|| currentRoute === '/candidature-recu'|| currentRoute === '/gerer-offre'|| currentRoute === '/ajout-offre' || currentRoute === '/mes-offres'"></app-general-header>
<!-- Contenu principal -->
<router-outlet></router-outlet>
