<!---
@if (recruteur) {
  
  <h2>Bienvenue, {{ recruteur.nomRec }} {{ recruteur.prenomRec }}</h2>
  <p>Email: {{ recruteur.emailRec }}</p>
  <a routerLink="/ajout-offre">Offres d'emploi</a>

}   -->


<div class="container">
  <div class="menu-bar">
        <a [routerLink]="['/profil-recruteur', userId]" routerLinkActive="active">
          Mon Profil
        </a>
      
      <a [routerLink]="'/ajout-offre'">Publier une offre</a>
      <a [routerLink]="'/gerer-offre'">Gérer mes offres</a>
      <a [routerLink]="'/les-candidatures'">Candidatures reçues</a>
      <a [routerLink]="'/recherche-candidats'">Rechercher candidat</a>
      
  </div>

  <main class="content">
    <h2>Mon Profil</h2>

    <div class="profile-card">
      <img src="img1.jpeg" alt="Photo de profil" class="profile-pic" />

      <div class="profile-info" *ngIf="recruteur">
        <p><strong>Nom :</strong> {{ recruteur.nomRec }}</p>
        <p><strong>Prénom :</strong>{{ recruteur.prenomRec }}</p>
        <p><strong>Email :</strong> {{ recruteur.emailRec }}</p>
        <p><strong>Poste :</strong> {{ recruteur.poste }}</p>
        <p><strong>Entreprise :</strong> {{ recruteur.entreprise }}</p>

<!-- Lien pour accéder à la page de modification du profil -->
<a [routerLink]="['/modifier-profil-rec', userId]" class="btn">Modifier</a>
      </div>

    </div>
  </main>
</div>
