
  
  <div class="menu-bar">
    <a [routerLink]="['/profil-recruteur', userId]" >
      Mon Profil
    </a>
  
  <a [routerLink]="'/ajout-offre'">Publier une offre</a>
  <a [routerLink]="'/gerer-offre'"routerLinkActive="active">Gérer mes offres</a>
  <a [routerLink]="'/les-candidatures'">Candidatures reçues</a>
  <a [routerLink]="'/recherche-candidats'">Rechercher candidat</a>
  <a routerLink="/deconnexion-rec">🔑 Déconnexion</a>

  </div>

    <div class="container">
      <h2>Mes Offres</h2>
    
      <div *ngIf="offres.length > 0; else noOffre">
        <div *ngFor="let offre of offres" class="offre-card">
          <h3>{{ offre.typePoste }}</h3>
          <p><strong>Entreprise :</strong> {{ offre.nomESE }}</p>
          <p><strong>Localisation :</strong> {{ offre.local }}</p>
          <p><strong>Domaine :</strong> {{ offre.domaine }}</p>
          <p><strong>Compétences :</strong> {{ offre.competences }}</p>
          <button class="btn-modifier" [routerLink]="['/modifier-offre', offre.id_offre]">Modifier</button>
          <button (click)="supprimerOffre(offre.id_offre)">Supprimer</button>
        </div>
      </div>
    
      <ng-template #noOffre>
        <p>Aucune offre trouvée.</p>
      </ng-template>
    </div>