
  <div class="menu-bar">

  <a [routerLink]="['/profil-recruteur', userId]">
    Mon Profil
  </a>

<a [routerLink]="'/ajout-offre'"routerLinkActive="active">Publier une offre</a>
<a [routerLink]="'/gerer-offre'">Gérer mes offres</a>
<a [routerLink]="'/candidature-recu'">Candidatures reçues</a>
<a [routerLink]="'/recherche-candidats'">Rechercher candidat</a>
</div>
<div class="ajouter-offre-container">
  <h2>Ajouter une Offre</h2>
  <form (ngSubmit)="ajouterOffre()">
    <div>
      <label for="nomEntreprise">Nom de l'entreprise:</label>
      <input type="text" id="nomEntreprise" [(ngModel)]="nomEntreprise" name="nomEntreprise" required>
    </div>

    <div>
      <label for="local">Localisation:</label>
      <input type="text" id="local" [(ngModel)]="local" name="local" required>
    </div>

    <div>
      <label for="typePoste">Type de poste:</label>
      <input type="text" id="typePoste" [(ngModel)]="typePoste" name="typePoste" required>
    </div>

    <div>
      <label for="missions">Missions:</label>
      <textarea id="missions" [(ngModel)]="missions" name="missions" required></textarea>
    </div>

    <div>
      <label for="competences">Compétences:</label>
      <textarea id="competences" [(ngModel)]="competences" name="competences" required></textarea>
    </div>

    <div>
      <label for="domaine">Domaine:</label>
      <input type="text" id="domaine" [(ngModel)]="domaine" name="domaine" required>
    </div>

    <div>
      <label for="salaire">Salaire:</label>
      <input type="number" id="salaire" [(ngModel)]="salaire" name="salaire" required>
    </div>

    <div>
      <label for="statut">Statut:</label>
      <select id="statut" [(ngModel)]="statut" name="statut">
        <option value="active">Active</option>
        <option value="inactive">Inactive</option>
      </select>
    </div>

    <div>
      <button type="submit" [disabled]="!nomEntreprise || !local || !typePoste || !missions || !competences || !domaine || !salaire">Ajouter l'offre</button>
    </div>
  </form>
  <a routerLink="/offres">Consulter vos offres</a>

</div>
