

<body>


  <div class="menu-bar">
    <a [routerLink]="['/profil-recruteur', idRecruteur]" routerLinkActive="active">
      Mon Profil
    </a>
  
  <a [routerLink]="'/ajout-offre'">Publier une offre</a>
  <a [routerLink]="'/gerer-offre'"routerLinkActive="active">Gérer mes offres</a>
  <a [routerLink]="'/candidature-recu'">Candidatures reçues</a>
  <a [routerLink]="'/recherche-candidats'">Rechercher candidat</a>
  </div>
  <div class="container">
    <h2>Modifier l'Offre</h2>
    <form (ngSubmit)="onSubmit()" *ngIf="offre">
      <label>Poste :</label>
      <input type="text" [(ngModel)]="offre.typePoste" name="typePoste" required />
  
      <label>Missions :</label>
      <textarea [(ngModel)]="offre.missions" name="missions"></textarea>
  
      <label>Salaire :</label>
      <input type="number" [(ngModel)]="offre.salaire" name="salaire" required />
  
      <label>Localisation :</label>
      <input type="text" [(ngModel)]="offre.local" name="local" required />
  
      <label>Compétences :</label>
      <textarea [(ngModel)]="offre.competences" name="competences"></textarea>
  
      <label>Domaine :</label>
      <input type="text" [(ngModel)]="offre.domaine" name="domaine" required />
  
      <label>Nom de l'entreprise :</label>
      <input type="text" [(ngModel)]="offre.nomESE" name="nomESE" required />
  
      <label>Date de publication :</label>
      <input type="date" [(ngModel)]="offre.datePublication" name="datePublication" required />
  
      <button type="submit">Enregistrer</button>
    </form>
  </div>