

<!-- Formulaire d'inscription -->
<form (ngSubmit)="onSubmit()">
  <label for="nom">Nom:</label>
  <input id="nom" type="text" [(ngModel)]="candidat.nomCand" name="nomCand" required>

  <label for="prenom">Prénom:</label>
  <input id="prenom" type="text" [(ngModel)]="candidat.prenomCand" name="prenomCand" required>

  <label for="email">Email:</label>
  <input
    id="email"
    type="email"
    [(ngModel)]="candidat.emailCand"
    name="emailCand"
    required
    #email="ngModel"
  >
  <label for="password">Mot de passe:</label>
  <input id="password" type="password" [(ngModel)]="candidat.motPasse_cand" name="motPasse_cand" required>

  <label for="confirm_password">Confirmer le mot de passe:</label>
  <input id="confirm_password" type="password" [(ngModel)]="candidat.confirmer_motdepasse" name="confirmer_motdepasse" required>


<!-- Message d'erreur -->
<div *ngIf="erreurMessage" class="error-message">
  {{ erreurMessage }}
</div>

<!-- Message de succès -->
<div *ngIf="successMessage" class="success-message">
  {{ successMessage }}
</div>
<small *ngIf="email.errors?.['email']">Le format de l'e-mail est invalide.</small>

  <button type="submit">completer vos données</button>
</form>
