

<div class="container">
  
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nomRec">Nom</label>
        <input type="text" id="nomRec" [(ngModel)]="recruteur.nomRec" name="nomRec" required class="form-control">
      </div>
  
      <div class="form-group">
        <label for="prenomRec">Prénom</label>
        <input type="text" id="prenomRec" [(ngModel)]="recruteur.prenomRec" name="prenomRec" required class="form-control">
      </div>
  
      <div class="form-group">
        <label for="emailRec">Email</label>
        <input type="email" id="emailRec" [(ngModel)]="recruteur.emailRec" name="emailRec" required class="form-control">
      </div>
  
      <div class="form-group">
        <label for="motPasse_rec">Mot de passe</label>
        <input type="password" id="motPasse_rec" [(ngModel)]="recruteur.motPasse_rec" name="motPasse_rec" required class="form-control">
      </div>
  
      <div class="form-group">
        <label for="confirmer_motdepasse">Confirmer le mot de passe</label>
        <input type="password" id="confirmer_motdepasse" [(ngModel)]="recruteur.confirmer_motdepasse" name="confirmer_motdepasse" required class="form-control">
      </div>
  
      <div class="form-group">
        <label for="poste">Poste</label>
        <input type="text" id="poste" [(ngModel)]="recruteur.poste" name="poste" required class="form-control">
      </div>
  
      <div class="form-group">
        <label for="entreprise">Entreprise</label>
        <input type="text" id="entreprise" [(ngModel)]="recruteur.entreprise" name="entreprise" required class="form-control">
      </div>
  
      <!-- Affichage des messages d'erreur et succès -->
      <div *ngIf="erreurMessage" class="alert alert-danger">{{ erreurMessage }}</div>
      <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
  
      <button type="submit" class="btn btn-primary">S'inscrire</button>
    </form>
  </div>
  