<div class="container">
  <!-- Sidebar -->
  <nav class="sidebar">
    <ul>
      <li><a routerLink="/profil">👤 Mon Profil</a></li>
      <li><a routerLink="/candidatures" >📄 Mes Candidatures</a></li>
      <li><a routerLink="/messagescand">✉️ Mes Messages</a></li>
      <li><a routerLink="/recherche-offre"routerLinkActive="active">🔍Recherche Offre</a></li>
      <li><a routerLink="/deconnexion">🔑 Déconnexion</a></li>

    </ul>
  </nav>

  <!-- Contenu principal -->

<main class="content">
  <h2>Recherche Offre</h2>
  <div class="search-form">
  <input [(ngModel)]="motCle" placeholder="Mot-clé (compétence, poste...)" />
  <input [(ngModel)]="local" placeholder="Localisation" />
  <button (click)="rechercher()">Rechercher</button>
</div>

<div *ngIf="offres.length === 0">
  🔍Aucune offre trouvée.
</div>

<div *ngFor="let offre of offres" class="offre-card">
  <h3>{{ offre.typePoste }} chez {{ offre.nomESE }}</h3>
  <p><strong>Localisation :</strong> {{ offre.local }}</p>
  <p><strong>Compétences :</strong> {{ offre.competences }}</p>
  <p><strong>Missions :</strong> {{ offre.missions }}</p>
  <p><strong>Salaire :</strong> {{ offre.salaire }} DT</p>
  <button (click)="postuler(offre)">Postuler</button>
</div>
</main>