

/* ======= STYLE DU BOUTON "SE CONNECTER" ======= */
.tn {
  background-color: #ff6600; /* Couleur orange */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s, transform 0.2s;
  display: inline-block;
}

.tn:hover {
  background-color: #e64a19; /* Couleur plus foncée au survol */
  transform: scale(1.05); /* Effet léger de zoom */
}

/* ======= STYLE DU CTA ======= */
.ct {
  text-align: center;
  padding: 20px;
  background-color: #d9534f;;
  color: white;
}

.ct .tn {
  background-color: #ff5722; /* Rouge-orangé */
  padding: 12px 20px;
  cursor: pointer;
}

.ct .tn:hover {
  background-color: #d9534f;
}
