    <h1>Espace Candidat</h1>
    
    <div class="container">
         <!-- Box exemple  -->
         <div class="image-box">
            <img src="img1.jpeg" alt="Image 1">
        </div>
           <!-- Box exemple  -->
           <div class="image-box">
            <img src="img1.jpeg" alt="Image 1">
        </div>
             
                <!-- Box Connexion -->
                <div class="box">
                    <h3>Déjà membre ?</h3>
                       <h5> Connectez-vous avec votre compte</h5>
                    <form action="candidat.html" method="POST">
                        <div class="form-group">
                            <label for="email_connexion">Adresse Email :</label>
                            <input type="email" id="email_connexion" name="email" placeholder="Votre email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe :</label>
                            <input type="password" id="password" name="password" placeholder="Votre mot de passe" required>
                        </div>
                        <button type="submit" class="btn">Se connecter</button>
                    </form>
                </div>
    
           <!-- Box Inscription -->
           <div class="box">
            <h2>  Inscrivez-vous et créez votre compte gratuitement</h2>
            <a href="inscri candidat.html">Inscription</a>

        </div>
           <!-- Box exemple  -->
           <div class="image-box">
            <img src="img1.jpeg" alt="Image 1">
        </div>
                <!-- Box exemple  -->
         <div class="image-box">
            <img src="img1.jpeg" alt="Image 1">

        </div>
             
