<h1>Bienvenue sur notre site Web</h1>
<h3> où vous pourrez trouver l'emploi idéal pour vous.</h3>

<div class="container">
  <!-- Images exemples -->
  <div class="image-box">
    <img src="/assets/images/cand4.jpeg" alt="Mon Image">
  </div>
  <div class="image-box">
    <img src="/assets/images/cand9.jpeg" alt="Mon Image">
  </div>

  <div class="box connexion">
    <h3>Déjà membre ?</h3>
    <h5>Connectez-vous avec votre compte</h5>
    <a routerLink="/se-connecter" class="btn">Se connecter</a>
    <img src="/assets/images/download (9).jpeg" alt="Mon Image">
  </div>

  <div class="image-box">
    <img src="/assets/images/download.jpeg" alt="Mon Image">
  </div>
  <div class="image-box">
    <img src="/assets/images/cand3.jpeg" alt="Mon Image">
  </div>

  <div class="box inscription">
    <h2>Inscrivez-vous et créez votre compte gratuitement</h2>
    <a routerLink="/inscri-candidat" class="btn">S'inscrire</a>
    <img src="/assets/images/download (2).png" alt="Mon Image">
  </div>

  <!-- Autres images exemples -->
  <div class="image-box">
    <img src="/assets/images/cand5.jpeg" alt="Mon Image">
  </div>
  <div class="image-box">
    <img src="/assets/images/cand7.jpeg" alt="Mon Image">
  </div>
</div>
