<!-- candidatures-recues.component.html -->

<div class="menu-bar">
    <a [routerLink]="['/profil-recruteur', userId]" >
        Mon Profil
      </a>
    
    <a [routerLink]="'/ajout-offre'">Publier une offre</a>
    <a [routerLink]="'/gerer-offre'">Gérer mes offres</a>
    <a [routerLink]="'/candidature-recu'" routerLinkActive="active">Candidatures reçues</a>
    <a [routerLink]="'/recherche-candidats'">Rechercher candidat</a>
</div>
<div class="container">
    <h2>Candidatures Reçues</h2>
    <div class="candidate-list">
        <div class="candidate">
           
            <button (click)="accepterCandidature()">Accepter</button>
            <button (click)="refuserCandidature()">Refuser</button>
            <button (click)="voirDetails()">Voir Détails</button>
        </div>
    </div>
</div>
