<div class="container">
   <nav class="sidebar">
    <ul>
        <li><a routerLink="/profil">Mon Profil</a></li>
        <li><a routerLink="/candidatures" routerLinkActive="active">Mes Candidatures</a></li>
        <li><a routerLink="/messagescand">Gérer Messages</a></li>
       

    </ul>
</nav>

<div *ngIf="candidatures.length > 0">
    <h3>Mes candidatures</h3>
    <ul>
      <li *ngFor="let candidature of candidatures">
        <p>Nom de l'offre: {{ candidature.nomESE }}</p>
        <p>Date de candidature: {{ candidature.date }}</p>
        <button (click)="deleteCandidature(candidature.id_candidature)" class="btn">Supprimer</button>
      </li>
    </ul>
  </div>
  
  <div *ngIf="candidatures.length === 0">
    <p>Vous n'avez pas encore postulé à des offres.</p>
  </div>
  