<div class="container">
   <nav class="sidebar">
    <ul>
        <li><a routerLink="/profil">Mon Profil</a></li>
        <li><a routerLink="/candidatures" routerLinkActive="active">Mes Candidatures</a></li>
        <li><a routerLink="/messagescand">Gérer Messages</a></li>
       

    </ul>
</nav>

    
    <main class="content">
        <h2>Mes Candidatures</h2>
        <div class="message-box">
            
            <p>Offre: Développeur Web</p>
            <button class="button">Afficher</button>
            <button class="button">Annuler</button>
        </div>
        <div class="message-box">
            <p>Offre: Développeur mobile</p>
            <button class="button">Afficher</button>
            <button class="button">Annuler</button>
        </div>
</main></div>
